In [10]:
import pandas as pd
df1=pd.read_csv('C:/Users/ejasm/Downloads/code_pandas1/examples/ex1.csv')
df1.info

<bound method DataFrame.info of    a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo>

In [11]:
df1.describe

<bound method NDFrame.describe of    a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo>

In [12]:
df1.shape

(3, 5)

In [16]:
df2=pd.read_csv('C:/Users/ejasm/Downloads/code_pandas1/examples/ex5.csv')
df2

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [3]:
import pandas as pd
df=pd.read_csv('C:/Users/ejasm/Downloads/code_pandas1/examples/ex6.csv',chunksize=1000)
df

In [4]:
for i in df:
    print(i)

          one       two     three      four key
0    0.467976 -0.038649 -0.295344 -1.824726   L
1   -0.358893  1.404453  0.704965 -0.200638   B
2   -0.501840  0.659254 -0.421691 -0.057688   G
3    0.204886  1.074134  1.388361 -0.982404   R
4    0.354628 -0.133116  0.283763 -0.837063   Q
..        ...       ...       ...       ...  ..
995  2.311896 -0.417070 -1.409599 -0.515821   M
996 -0.479893 -0.650419  0.745152 -0.646038   H
997  0.523331  0.787112  0.486066  1.093156   D
998 -0.362559  0.598894 -1.843201  0.887292   W
999 -0.096376 -1.012999 -0.657431 -0.573315   K

[1000 rows x 5 columns]
           one       two     three      four key
1000  0.467976 -0.038649 -0.295344 -1.824726   T
1001 -0.358893  1.404453  0.704965 -0.200638   J
1002 -0.501840  0.659254 -0.421691 -0.057688   R
1003  0.204886  1.074134  1.388361 -0.982404   S
1004  0.354628 -0.133116  0.283763 -0.837063   B
...        ...       ...       ...       ...  ..
1995  2.311896 -0.417070 -1.409599 -0.515821   L
1996 -0.479893 -0.650419  0.745152 -0.646038   J
1997  0.523331  0.787112  0.486066  1.093156   V
1998 -0.362559  0.598894 -1.843201  0.887292   W
1999 -0.096376 -1.012999 -0.657431 -0.573315   D

[1000 rows x 5 columns]
           one       two     three      four key
2000  0.467976 -0.038649 -0.295344 -1.824726   1
2001 -0.358893  1.404453  0.704965 -0.200638   H
2002 -0.501840  0.659254 -0.421691 -0.057688   F
2003  0.204886  1.074134  1.388361 -0.982404   L
2004  0.354628 -0.133116  0.283763 -0.837063   E
...        ...       ...       ...       ...  ..
2995  2.311896 -0.417070 -1.409599 -0.515821   H
2996 -0.479893 -0.650419  0.745152 -0.646038   U
2997  0.523331  0.787112  0.486066  1.093156   A
2998 -0.362559  0.598894 -1.843201  0.887292   Y
2999 -0.096376 -1.012999 -0.657431 -0.573315   F

[1000 rows x 5 columns]
           one       two     three      four key
3000  0.467976 -0.038649 -0.295344 -1.824726   H
3001 -0.358893  1.404453  0.704965 -0.200638   Y
3002 -0.501840  0.659254 -0.421691 -0.057688   0
3003  0.204886  1.074134  1.388361 -0.982404   Z
3004  0.354628 -0.133116  0.283763 -0.837063   U
...        ...       ...       ...       ...  ..
3995  2.311896 -0.417070 -1.409599 -0.515821   W
3996 -0.479893 -0.650419  0.745152 -0.646038   E
3997  0.523331  0.787112  0.486066  1.093156   Q
3998 -0.362559  0.598894 -1.843201  0.887292   A
3999 -0.096376 -1.012999 -0.657431 -0.573315   M

[1000 rows x 5 columns]
           one       two     three      four key
4000  0.467976 -0.038649 -0.295344 -1.824726   H
4001 -0.358893  1.404453  0.704965 -0.200638   Z
4002 -0.501840  0.659254 -0.421691 -0.057688   2
4003  0.204886  1.074134  1.388361 -0.982404   B
4004  0.354628 -0.133116  0.283763 -0.837063   1
...        ...       ...       ...       ...  ..
4995  2.311896 -0.417070 -1.409599 -0.515821   X
4996 -0.479893 -0.650419  0.745152 -0.646038   M
4997  0.523331  0.787112  0.486066  1.093156   5
4998 -0.362559  0.598894 -1.843201  0.887292   T
4999 -0.096376 -1.012999 -0.657431 -0.573315   U

[1000 rows x 5 columns]
           one       two     three      four key
5000  0.467976 -0.038649 -0.295344 -1.824726   1
5001 -0.358893  1.404453  0.704965 -0.200638   Z
5002 -0.501840  0.659254 -0.421691 -0.057688   3
5003  0.204886  1.074134  1.388361 -0.982404   H
5004  0.354628 -0.133116  0.283763 -0.837063   B
...        ...       ...       ...       ...  ..
5995  2.311896 -0.417070 -1.409599 -0.515821   1
5996 -0.479893 -0.650419  0.745152 -0.646038   Y
5997  0.523331  0.787112  0.486066  1.093156   F
5998 -0.362559  0.598894 -1.843201  0.887292   0
5999 -0.096376 -1.012999 -0.657431 -0.573315   3

[1000 rows x 5 columns]
           one       two     three      four key
6000  0.467976 -0.038649 -0.295344 -1.824726   I
6001 -0.358893  1.404453  0.704965 -0.200638   X
6002 -0.501840  0.659254 -0.421691 -0.057688   A
6003  0.204886  1.074134  1.388361 -0.982404   C
6004  0.354628 -0.133116  0.283763 -0.837063   S
...        ...       ...       ...       ...  ..
6995  2.311896 -0.417070 -1.409599 -0.515821   P
6996 -0.479893 -0.650419  0.745152 -0.646038   9
6997  0.523331  0.787112  0.486066  1.093156   L
6998 -0.362559  0.598894 -1.843201  0.887292   5
6999 -0.096376 -1.012999 -0.657431 -0.573315   O

[1000 rows x 5 columns]
           one       two     three      four key
7000  0.467976 -0.038649 -0.295344 -1.824726   1
7001 -0.358893  1.404453  0.704965 -0.200638   I
7002 -0.501840  0.659254 -0.421691 -0.057688   H
7003  0.204886  1.074134  1.388361 -0.982404   P
7004  0.354628 -0.133116  0.283763 -0.837063   D
...        ...       ...       ...       ...  ..
7995  2.311896 -0.417070 -1.409599 -0.515821   A
7996 -0.479893 -0.650419  0.745152 -0.646038   6
7997  0.523331  0.787112  0.486066  1.093156   R
7998 -0.362559  0.598894 -1.843201  0.887292   R
7999 -0.096376 -1.012999 -0.657431 -0.573315   2

[1000 rows x 5 columns]
           one       two     three      four key
8000  0.467976 -0.038649 -0.295344 -1.824726   7
8001 -0.358893  1.404453  0.704965 -0.200638   W
8002 -0.501840  0.659254 -0.421691 -0.057688   C
8003  0.204886  1.074134  1.388361 -0.982404   S
8004  0.354628 -0.133116  0.283763 -0.837063   H
...        ...       ...       ...       ...  ..
8995  2.311896 -0.417070 -1.409599 -0.515821   W
8996 -0.479893 -0.650419  0.745152 -0.646038   N
8997  0.523331  0.787112  0.486066  1.093156   Q
8998 -0.362559  0.598894 -1.843201  0.887292   R
8999 -0.096376 -1.012999 -0.657431 -0.573315   M

[1000 rows x 5 columns]
           one       two     three      four key
9000  0.467976 -0.038649 -0.295344 -1.824726   B
9001 -0.358893  1.404453  0.704965 -0.200638   M
9002 -0.501840  0.659254 -0.421691 -0.057688   N
9003  0.204886  1.074134  1.388361 -0.982404   N
9004  0.354628 -0.133116  0.283763 -0.837063   Y
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[1000 rows x 5 columns]

In [5]:
type(df)

pandas.io.parsers.TextFileReader

In [9]:
data=pd.read_csv('C:/Users/ejasm/Downloads/code_pandas1/examples/ex5.csv')
data.to_csv('out1.csv')

In [10]:
pwd

'C:\\Users\\ejasm'

In [11]:
data.to_json('out2.json')

In [12]:
pd.read_json('out2.json')

  something  a   b     c   d message
0       one  1   2   3.0   4    None
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [13]:
data.to_csv('out.csv',sep='@')

In [14]:
### sys_ not clear

In [1]:
## Date, time

In [6]:
import pandas as pd
dates=pd.date_range('1/1/2021',periods=15,freq='2M')
dates

DatetimeIndex(['2021-01-31', '2021-03-31', '2021-05-31', '2021-07-31',
               '2021-09-30', '2021-11-30', '2022-01-31', '2022-03-31',
               '2022-05-31', '2022-07-31', '2022-09-30', '2022-11-30',
               '2023-01-31', '2023-03-31', '2023-05-31'],
              dtype='datetime64[ns]', freq='2M')

In [4]:
dates

DatetimeIndex(['2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30',
               '2021-05-31', '2021-06-30', '2021-07-31'],
              dtype='datetime64[ns]', freq='M')

In [12]:
import numpy as np
dates=pd.date_range('1/1/2020',periods=7)
ts=pd.Series(np.arange(7),index=dates)

In [8]:
ts

2020-01-01    0
2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
Freq: D, dtype: int32

In [16]:
d=ts.to_csv('tseries.csv',header=False)
!type tseries.csv

2020-01-01,0
2020-01-02,1
2020-01-03,2
2020-01-04,3
2020-01-05,4
2020-01-06,5
2020-01-07,6

In [17]:
pwd

'C:\\Users\\ejasm'

In [18]:
pd.read_csv('tseries.csv')

   2020-01-01  0
0  2020-01-02  1
1  2020-01-03  2
2  2020-01-04  3
3  2020-01-05  4
4  2020-01-06  5
5  2020-01-07  6

In [19]:
type(d)

NoneType

In [21]:
import csv
f=open('C:/Users/ejasm/Downloads/code_pandas1/examples/ex7.csv')
f

In [22]:
reader=csv.reader(f)

In [23]:
list(reader)

[['a', 'b', 'c'], ['1', '2', '3'], ['1', '2', '3']]